.category-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cat-list {
  padding: 4px 8px;
  border-radius: 1rem;
  min-width: 1rem;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
}
.cat-list:hover {
  background-color: var(--primary-color);
  color: var(--lg-color);
}
.active-tab {
  background-color: var(--primary-color);
  color: var(--lg-color);
}
.card-with-overlay {
  cursor: pointer;
  box-shadow: none;
  border-radius: 0%;
}
.card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: var(--primary-color);
  padding-top: 0.3rem;
}
.card-options {
  padding-right: 0.4rem;
}
.card-desc {
  font-size: 0.8rem;
  font-weight: 650;
}
.list-item {
  position: absolute;
  right: 0.8rem;
  top: 1.1rem;
  max-width: 14rem;
  background-color: var(--light-gray);
}
.list-item div {
  padding: 0.2rem;
  border-bottom: 1px solid var(--primary-color);
}
.list-item div:hover {
  background-color: var(--secondary-color);
  color: var(--lg-color);
}
.list-item div i {
  padding-right: 0.4rem;
}
.title-text {
  border-bottom: 1px solid var(--primary-color);
}
