.container {
  width: 20rem;
  background-color: white;
  margin: auto;
  border: 1px solid var(--primary-color);
  margin-top: 2rem;
}
.form-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.form-container input {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 80px;
  padding-left: 5px;
  margin: 9px 0;
  border: 1px solid gray;
  background-color: rgb(248, 248, 248);
}
h1 {
  font-weight: bolder;
}
.form-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.span-txt {
  line-height: 1rem;
  font-size: 0.9rem;
  margin: 0.5rem;
}

.sign-up-btn:hover,
.sign-in-btn:hover {
  transform: scale(0.95);
}
.input-with-eye {
  position: relative;
}
.eye-icon {
  position: absolute;
  top: 15px;
  right: 5px;
}
.left-content {
  margin-right: auto;
}
